
<div id="bg">
  <h2>16ดอกไม้ไทย</h2>
</div>
<div class="content">
  <div class="ManagePicture">
    <h3>{{fname[0]}}</h3>
    <img src="{{fpicture[0]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[1]}}</h3>
    <img src="{{fpicture[1]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[2]}}</h3>
    <img src="{{fpicture[2]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[3]}}</h3>
    <img src="{{fpicture[3]}}" alt="Error">
  </div>
<div class="clear"></div>
  <div class="ManagePicture">
    <h3>{{fname[4]}}</h3>
    <img src="{{fpicture[4]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[5]}}</h3>
    <img src="{{fpicture[5]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[6]}}</h3>
    <img src="{{fpicture[6]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[7]}}</h3>
    <img src="{{fpicture[7]}}" alt="Error">
  </div>
  <div class="clear"></div>

  <div class="ManagePicture">
    <h3>{{fname[8]}}</h3>
    <img src="{{fpicture[8]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[9]}}</h3>
    <img src="{{fpicture[9]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[10]}}</h3>
    <img src="{{fpicture[10]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[11]}}</h3>
    <img src="{{fpicture[11]}}" alt="Error">
  </div>
    <div class="clear"></div>

  <div class="ManagePicture">
    <h3>{{fname[12]}}</h3>
    <img src="{{fpicture[12]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[13]}}</h3>
    <img src="{{fpicture[13]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[14]}}</h3>
    <img src="{{fpicture[14]}}" alt="Error">
  </div>
  <div class="ManagePicture">
    <h3>{{fname[14]}}</h3>
    <img src="{{fpicture[14]}}" alt="Error">
  </div>
  <div class="clear"></div>

</div>
